{% extends "index.html" %}

{% load i18n %}

{% block title %}
<title>Parola Oluştur  >>>  {{request.user.username}}</title>
{% endblock title %}

{% block head %}
<link rel="shortcut icon" type="image/x-icon" href="{{setting.icon.url}}">
{% endblock head %}

{% block content %}

    <header class="header">
        {% include 'includes/_topbar.html' %}<!-- End .header-top -->

        {% include 'includes/_navbar.html' %}
        
        <!-- End .header-middle navbarend-->
    </header><!-- End .header -->

<main class="main bg-lighter">
    <div class="  pt-5 pb-6">
        <div class="container">  
            <div class="form-content my-3 p-3">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="card shadow-lg border-0 rounded-lg justify-content-center text-center py-5">
                    <h1 class=fs-1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>

                    {% if token_fail %}
                        {% url 'account_reset_password' as passwd_reset_url %}
                        <p class="text-center text-dark ">{% blocktrans %}Parola sıfırlama bağlantısı, muhtemelen zaten kullanılmış olduğundan geçersizdi. Lütfen <a class="text-decoration-none text-info" href="{{ passwd_reset_url }}">yeni şifre sıfırlama</a> isteğindee bulunun.{% endblocktrans %}</p>
                    {% else %}
                    <div class="card-body">
                        <form method="POST" action="{{ action_url }}">
                            {% csrf_token %}
                            <label class="form-label fs-3 mb-0 mt-3" for="id_new_password1">Yeni Parolanızı Girin</label>
                            <div class="form__item form__item--flex mt-0">
                                <span class="light"></span> <!-- Işık Efektini istemezsen bu span etiketini kaldırabilirsin -->
                                <div class="input-group">
                                {{ form.password1 }}
                                <!-- <div class="form__icon input-group-text bg-transparent input-group-append">
                                    <i class="fa-solid fa-eye"></i>
                                </div> -->
                            </div>
                        </div>
                            <label class="form-label fs-3 mb-0 mt-3" for="id_new_password2">Yeni Parolanızı Girin ( Tekrar )</label>
                            <div class="form__item form__item--flex mt-0">
                                <span class="light"></span> <!-- Işık Efektini istemezsen bu span etiketini kaldırabilirsin -->
                                <div class="input-group">
                                {{ form.password2 }}
                               <!--  <div class="form__icon input-group-text bg-transparent input-group-append">
                                    <i class="fa-solid fa-eye"></i>
                                </div> -->
                            </div>
                        </div>
                            <input class="btn col-md-12 btn-outline-primary-2 mt-4" type="submit" name="action" value="{% trans 'change password' %}"/>
                        </form>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
    </div>
</main>
<section id="messages" hx-swap-oob="true" hx-swap="innerHTML">
    {% include 'includes/_messages.html' %}
 </section>
 
  <!-- Footer Start -->
  {% include 'includes/_footer.html' %}
  <!-- Footer End -->
 
  {% include 'includes/_mobile-menu.html' %}
 
  {% endblock content %}
