{% extends "index.html" %}

{% load i18n %}
{% load account %}

{% block title %}
<title>Parola Sıfırlandı  >>>  {{request.user.username}}</title>
{% endblock title %}

{% block head %}
<link rel="shortcut icon" type="image/x-icon" href="{{setting.icon.url}}">
{% endblock head %}

{% block content %}

    
    <div class="page-wrapper">
    <header class="header">
        {% include 'includes/_topbar.html' %}<!-- End .header-top -->

        {% include 'includes/_navbar.html' %}
        
        <!-- End .header-middle navbarend-->
    </header><!-- End .header -->

<main class="main bg-lighter">
    <div class="intro-section  pt-5 pb-6">
        <div class="container">   
            <div class="form-content p-5 col-lg-5 m-auto">
                <div class="card shadow-lg border-0 rounded-lg justify-content-center text-center py-5">
                    <div class="cart-body">
                        <h1 class="fs-1 mb-3">{% trans "Password Reset" %}</h1>
                        
                        {% if user.is_authenticated %}
                        {% include "account/snippets/already_logged_in.html" %}
                        {% endif %}
                        
                        <p class="text-center text-dark fs-3">Size bir e-posta gönderdik. Eğer almadıysanız, lütfen spam klasörünüzü kontrol edin. Aksi takdirde, birkaç dakika içinde almazsanız bizimle <a class="text-decoration-none text-info" href="{% url 'contact' %}"> iletişime geçin.</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</div>

<section id="messages" hx-swap-oob="true" hx-swap="innerHTML">
    {% include 'includes/_messages.html' %}
 </section>
 
  <!-- Footer Start -->
  {% include 'includes/_footer.html' %}
  <!-- Footer End -->
 
  {% include 'includes/_mobile-menu.html' %}
 
  {% endblock content %}



<!-- http://127.0.0.1:8000/password/reset/done/ -->