{% extends "index.html" %}
{% load i18n %}

{% block title %}
<title>Parola Değiştir  >>>  {{request.user.username}}</title>
{% endblock title %}

{% block head %}
<link rel="shortcut icon" type="image/x-icon" href="{{setting.icon.url}}">
{% endblock head %}

{% block content %}
    <header class="header">
        {% include 'includes/_topbar.html' %}<!-- End .header-top -->

        {% include 'includes/_navbar.html' %}
        
        <!-- End .header-middle navbarend-->
    </header><!-- End .header -->

<main class="main bg-lighter">
    <div class="intro-section  pt-5 pb-6">
        <div class="container">
            <div class="form-content my-3 p-3">
                    <div class="row justify-content-center">
                        <div class="col-lg-5">
                            {% if user.is_authenticated %}
                            {% include "account/snippets/already_logged_in.html" %}
                            {% endif %}
                                <div class="card shadow-lg border-0 rounded-lg mt-0 mb-3">
                                    <div class="card-header justify-content-center ">
                                    <h3 class=" my-4 text-center fs-1">Parolanızı Sıfırlayın</h3>
                                    <p class="container text-center fs-3 my-4">Şifrenizi mi unuttunuz? Aşağıya e-posta adresinizi girin, size sıfırlamanız için bir e-posta gönderelim.</p>
                                    </div>
                                    {% if form.errors %}
                                        <div class="alert alert-danger alert-dismissible" role="alert">
                                            <div id="form_errors">
                                                {% for key, value in form.errors.items %}
                                                    <strong>{{ value }}</strong>
                                                {% endfor %}
                                            </div>
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                    {% endif %}
                                    
                                    <div class="card-body">
                                        <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                                            {% csrf_token %}
                                            <div class="form-row">
                                                <div class="col-md-10 offset-md-1">
                                                    <div class="form-group mt-3">
                                                        {{ form.email  }}
                                                        <span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        
                                            <div class="form-row">
                                                <div class="col-md-10 offset-md-1">
                                                    <div class="form-group mt-0 mb-1">
                                                        <input class="col-md-12 btn btn-outline-primary-2 "  type="submit" value="{% trans 'Reset My Password' %}" />
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <p class="text-center text-danger fs-3 mb-3">Parolanızı sıfırlama konusunda herhangi bir sorun yaşarsanız lütfen bizimle <a  class="text-decoration-none text-info" href="{% url 'contact' %}"> iletişime </a> geçin.</p>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</main>
<section id="messages" hx-swap-oob="true" hx-swap="innerHTML">
    {% include 'includes/_messages.html' %}
 </section>
 
  <!-- Footer Start -->
  {% include 'includes/_footer.html' %}
  <!-- Footer End -->
 
  {% include 'includes/_mobile-menu.html' %}
 
  {% endblock content %}