{% load static %}
{% load mptt_tags %}
<button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

    <div class="mobile-menu-container">
        <div class="mobile-menu-wrapper">
            <button class="btn-dark border-0 mobile-menu-close-kapat mobile-menu-close"><i class="icon-close"></i></button>

            <form action="{% url 'search' %}" method="GET" class="mobile-search">
                <label for="tags" class="sr-only">Ara</label>
                <input type="search" class="form-control" name="query" id="tags" placeholder="Ürün Ara..." value="{{request.GET.query}}" required>
                <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
            </form>
            
            <nav class="mobile-nav">
                <ul class="mobile-menu">

                    {% recursetree global_categories %}

                    <li>
                        <a href="{{ node.get_absolute_url }}" {% if not node.is_leaf_node %} class="sf-with-ul"{% endif %}>
                            {{ node.title }}
                        </a>
                        {% if not node.is_leaf_node %}
                        <ul>
                            <li><a href="{{ node.get_absolute_url }}">{{ children }}</a></li>
                        </ul>
                        {% endif %}
                    </li>
                    {% endrecursetree %}
                    
                </ul>
            </nav><!-- End .mobile-nav -->

            <div class="social-icons">
                <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
            </div><!-- End .social-icons -->
        </div><!-- End .mobile-menu-wrapper -->
    </div>